# Django collected static files
/src/static

# Static files and templates from frontend code
/src/web/static/frontend
/src/web/templates/index.html

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
/.idea
/dist
/client/dist

node_modules
bower_components

*.sublime*

psd
thumb
sketch
.env


.idea
__pycache__
*/__pycache__
config.yaml
Lib/
Scripts/
.venv/
venv/
*.db
*.sqlite3
