.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
/.idea

node_modules
bower_components

*.sublime*

psd
thumb
sketch
.env


.idea
__pycache__
*/__pycache__
config.yaml
Lib/
Scripts/
.venv/
venv/
*.db
*.sqlite3
