@import "https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.highcharts-figure {
  margin: 0;
}

#play-controls {
  max-width: 1000px;
}

#play-pause-button {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  transition: background-color 250ms;
}

