<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/static/icon.png"/>
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki Infographics</title>
    <script type="module" crossorigin src="/static/frontend/assets/index-B_K9zINT.js"></script>
    <link rel="stylesheet" crossorigin href="/static/frontend/assets/index-9F5rewOL.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
